
*.json
Notes/.obsidian/workspace.json
Notes/.obsidian/app.json
*.json
Notes/.obsidian/workspace.json
Notes/.obsidian/plugins/obsidian-git/styles.css
Notes/.obsidian/plugins/obsidian-git/manifest.json
Notes/.obsidian/plugins/obsidian-git/main.js
Notes/.obsidian/plugins/obsidian-git/data.json
